footer {
    background-color: var(--header);
    padding: 20px 10%;
    width: 100%;
    display: flex;
    flex-direction: row;

    a {
        margin: 10px 15px;
        font-size: 2rem;
    }

    a:hover {
        color: var(--high-contrast-text);
    }
}